:root {
  --white: #fff;
  --black: #000;
  --light-slate: #FAFBFF;
  --slate: #9197B3;
  --light-brown: #838383;
  --iris: #5932EA;
  --light-green: #16C09838;
  --green: #008767;
  --current: #292D32;
  --red: #DF0404;
  --light-red: #FFC5C5;
}

body {
  background-color: var(--light-slate);
  box-sizing: border-box;
  max-width: 100vw;
}

p h2 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}