@media screen and (max-width: 428px) {
    .area {
        padding: 10px 5px;
    }    
}

.area {
    padding: 30px 44px 40px 38px;
    background-color: var(--white);
    border-radius: 30px;
    width: 100%;
}

.titleArea {
    display: flex;
}

.title {
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    margin: 0;
    padding: 0;
}

.description {
    margin-top: 7px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #16C098;
}

.searchArea{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.searchIcon {
    width: 24px;
    height: 24px;
    color: var(--light-brown);
    position: absolute;
    transform: translate(8px, 0);
}

.searchInput {
    width: 216px;
    height: 38px;
    background-color: var(--light-slate);
    color: var(--light-brown);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    border-radius: 10px;
    border: none;
    padding-left: 40px;
}

.headersList {
    list-style: none;
    padding: 13px 0;
    margin: 0;
    color: var(--light-brown);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    border-bottom: 1px solid #EEE;
}

.customersList {
    color: var(--current);
}

.active {
    display: flex;
    width: 80px;
    height: 29px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid var(--green);
    color: var(--green);
    border-radius: 4px;
    background: var(--light-green);
}

.inactive {
    border: 1px solid var(--red);
    background: var(--light-red);
    color: var(--red);
}

.toggle {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: currentColor;
}

.showData {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: #B5B7C0;
    margin: 0;
}

.paginationArea {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.buttonList {
    display: flex;
    gap: 12px;
    margin-left: auto;
}

.paginationBtn {
    display: flex;
    box-sizing: border-box;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    background: #f5f5f5;
    width: 26px;
    height: 24px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 100%;
    cursor: pointer;
}

.currentPagination {
    display: flex;
    box-sizing: border-box;
    border: 1px solid #5932EA;
    border-radius: 4px;
    background: #5932EA;
    width: 26px;
    height: 24px;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 100%;
    cursor: pointer;
}

.sideIcon {
    width: 8px;
    height: 10px;
}